[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "rusterpassword"]
	path = rusterpassword
	url = https://github.com/myfreeweb/rusterpassword.git
[submodule "ios/Freepass/Deps/SwiftCBOR"]
	path = ios/Freepass/Deps/SwiftCBOR
	url = https://github.com/myfreeweb/SwiftCBOR.git
